/*Global Styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.underline{
    text-decoration: underline;
}

/*Nav Bar*/

nav{
    background: linear-gradient(90deg, rgba(29,53,87,1) 0%, rgba(67,105,158,0.9430147058823529) 100%);
    width: 100%;
    color:white;
    display: flex;
    font-size: 20px;
}

nav ul{
    list-style: none;
    display: inline-flex;
}
nav ul li{
    padding: 30px;
    justify-content: center;
    border-radius: 5px;
}

nav li:hover{
    border-bottom: solid 3px #971b2f;
    color:#971b2f;
    transition: 0.5s;
}

nav ul ion-icon{
    padding-top:20px;   
    padding-right: 10px;
    
}

ul ion-icon:hover{
    filter: contrast(50%);
    transition: 0.3s;
}

.active{
    border-bottom: solid 3px #971b2f;
    box-sizing:border-box;
}

/*Header Banner styles*/

header{
    display: inline-flex;
    width:100%;
    background: linear-gradient(90deg, rgba(87,106,126,1) 33%, rgba(136,148,160,1) 100%);
    color:white;
    height:120px;
    align-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;

}

/*Quick Access toolbar*/

.quickAccess { 
    position: relative;
    float:left;
    top: -70px;
    width: 190px;
    height: 100%;
    padding: 10px;
    border-radius: 1px;
    background-color: #fcfcfc;
    border: solid rgb(69, 69, 68) 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    margin: 10px;
}
.quickAccess:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.quickAccess h2{
    padding: 10px;
    font-size: 22px;;
}

.quickAccess ul{
    list-style: none;
    line-height: 40px;
    font-size: 18px;
}

.quickAccess a:hover{
    color:#971b2f;
}

.currentTopic{
    color:#971b2f;
    font-weight: 600; 
}

/*Article Content*/

article {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 8px 5px; 
    grid-template-areas: 
      "Content-1 Image-1"
      "Content-2 Image-2"
      "Content-3 Image-3"
      "Content-4 Image-4"
      "Content-5 Image-5"
      "Content-6 Image-6";
    border: solid black 3px;
    margin-right: 10px;
  }
  .Content-1 { 
      grid-area: Content-1;
      height: 200px;
      width: 60%;
      margin-top: 10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      background-color: rgb(245, 245, 245);
      border-radius: 10px;
      overflow: scroll;
      
    }

    .Content-1:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
        transition: 0.5s;   
    }
  article p{
      padding: 10px;
      width: 75%;
  }  

  article h3{
    text-align: center;
    padding: 5px;
  }
  .Content-2 { grid-area: Content-2; }
  .Content-3 { grid-area: Content-3; }
  .Content-4 { grid-area: Content-4; }
  .Content-5 { grid-area: Content-5; }
  .Content-6 { grid-area: Content-6; }
  .Image-1 { 
      grid-area: Image-1; 
      height: 200px;
      width: 60%;
      margin-top: 10px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      background-color: rgb(245, 245, 245);
      border-radius: 10px;
      overflow: scroll;
    }
.image-1 img{
    max-width: 100%;
    height: auto;
}
  .Image-2 { grid-area: Image-2; }
  .Image-3 { grid-area: Image-3; }
  .Image-4 { grid-area: Image-4; }
  .Image-5 { grid-area: Image-5; }
  .Image-6 { grid-area: Image-6; }