/*Global Styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.underline{
    text-decoration: underline;
}

/*Nav Bar*/

nav{
    background: linear-gradient(90deg, rgba(29,53,87,1) 0%, rgba(67,105,158,0.9430147058823529) 100%);
    width: 100%;
    color:white;
    display: flex;
    font-size: 20px;
}

nav ul{
    list-style: none;
    display: inline-flex;
}
nav ul li{
    padding: 30px;
    justify-content: center;
}

nav li:hover{
    background-color: #971b2f;
    transition: 0.5s;
}

nav ul ion-icon{
    padding-top:20px;   
    padding-right: 10px;
    
}

ul ion-icon:hover{
    filter: contrast(50%);
    transition: 0.3s;
}

.active{
    border-bottom: solid 3px #971b2f;
    box-sizing:border-box;
}

/*Header Banner styles*/

header{
    display: inline-flex;
    width:100%;
    background: linear-gradient(90deg, rgba(87,106,126,1) 33%, rgba(136,148,160,1) 100%);
    color:white;
    height:120px;
    align-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;

}

/*Quick Access toolbar*/

.quickAccess { 
    position: relative;
    float:left;
    top: -70px;
    width: 190px;
    height: 100%;
    padding: 10px;
    border-radius: 1px;
    background-color: #fcfcfc;
    border: solid rgb(69, 69, 68) 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    margin: 10px;
}
.quickAccess:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.quickAccess h2{
    padding: 10px;
    font-size: 22px;;
}

.quickAccess ul{
    list-style: none;
    line-height: 40px;
    font-size: 18px;
}

.quickAccess a:hover{
    color:#971b2f;
}

.currentTopic{
    color:#971b2f;
    font-weight: 600; 
}

/*Article Content*/

article {
    border: solid black 5px;
    width: 70%;
    height: 1000px;
    margin: 10px auto;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
    
}

.element, 
.elementImg{
    width: 49%;
    height: 200px;
    flex-basis: auto;
    margin: 3px 3px;
    display: flex;
    border: solid black 2px;
}    
.elementImg img{
    height: 200px;
    object-fit: scale-down;
    justify-content: center;
}

.element h2{
    display: block;
    width:100%;
    text-align: center;

}

.element p{
    position: relative;
    width:100%;
    height:200px;
    padding:5rem;
    
}
