/*Global Styles*/
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

/*Nav Bar*/

nav{
    background: linear-gradient(90deg, rgba(29,53,87,1) 0%, rgba(67,105,158,0.9430147058823529) 100%);
    width: 100%;
    color:white;
    display: flex;
    font-size: 20px;
}

nav ul{
    list-style: none;
    display: inline-flex;
}
nav ul li{
    padding: 30px;
    justify-content: center;
}

nav li:hover{
    background-color: #971b2f;
    transition: 0.5s;
}

nav ul ion-icon{
    padding-top:20px;   
    padding-right: 10px;
    
}

ul ion-icon:hover{
    filter: contrast(50%);
    transition: 0.3s;
}

.active{
    border-bottom: solid 3px #971b2f;
    box-sizing:border-box;
}

/*Header Banner styles*/

header{
    display: inline-flex;
    width:100%;
    background: linear-gradient(90deg, rgba(87,106,126,1) 33%, rgba(136,148,160,1) 100%);
    color:white;
    height:120px;
    align-content: center;
    align-items: center;
    font-size: 2rem;

}

.quickAccess { 
    position: relative;
    float:left;
    top: -70px;
    width: 180px;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #fcfcfc;
    border: solid rgb(69, 69, 68) 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    margin: 10px;
}
.quickAccess:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.quickAccess h2{
    padding: 10px;
    font-size: 22px;;
}

.quickAccess ul{
    list-style: none;
    line-height: 40px;
    font-size: 18px;
}


/*Styling for the links changing color*/
.quickAccess a::before{
    position: absolute;
    content: attr(data-content);
    color: #971b2f;
    text-decoration: underline;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 350ms ease;
  }
.quickAccess a:hover::before{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }